body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

.container {
    width: 75%;
    padding-bottom: 5em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    
}

.description {
    padding-left: 4em
}

.mobile-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.perfume-title {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 0.5em;
    color: hsl(228, 12%, 48%);
    margin-top: 2.5em;
}

.perfume-name {
    font-family: "fraunces" , sans-serif;
    font-size: 6.5em;
    width: 90%;
    margin-top: 0.5em;
    color: hsl(212, 21%, 14%);
    
}

.perfume-attribute {
    font-family: "montserrat" , sans-serif;
    font-weight: 500;
    font-size: 3em;
    width: 90%;
    line-height: 1.8em;
    color: hsl(228, 12%, 48%);
    margin-top: -0.5em
    
}

#discount-price {
    font-family: "fraunces" , sans-serif;
    font-size: 5em;
    color: hsl(158, 36%, 37%);
}

#original-price {
    font-size: 1.5em;
    text-decoration: line-through;
    margin-left: 2.5em;
    color: hsl(228, 12%, 48%);;
}

.container-footer {
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-family: "montserrat" , sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    background: hsl(158, 36%, 37%);
    padding: 1.5em 0;
    width: 85%;
    margin: auto;
    margin-top: 2em;
    border-radius: 1.2em;
    
}

.shopping-cart-image {
    width: 1.2em;
}

.attribution {
    font-size: .9em; 
    text-align: center;
    margin-top: 1em;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

/* for mobile */

    .desktop-image {
        display: none;
}


/* for desktop */

@media (min-width: 375px) {
    .container {
        display: flex;
        width: 30%;
        height: 17.5em;
    }
    
    .mobile-image {
        display: none;
    }
    
    .desktop-image {
        display: inline;
        width: 15vw;
        border-radius: 5px 0 0 5px;
    }
    
    .description {
        padding-left: 1.5em;
        width: 15vw;
        border-radius: 0 5px 5px 0;
    }
    
    .perfume-title {
        font-size: .5em;
        letter-spacing: 0.2em;
        margin-top: 3em
    }
    
    .perfume-name {
        width: 80%;
        font-size: 1.5em;
    }
    
    .perfume-attribute {
        width: 90%;
        font-size: .7em;
    }
    
    .perfume-price {
        margin-top: .5em;
        display: flex;
        align-items: center;
    }
    
    #discount-price {
        font-size: 1.5em;
    }
    
    #original-price {
        font-size: .5em;
        
    }
    
    .container-footer {
        width: 90%;
        font-size: .5em;
        border-radius: 4px;
        padding: 1.5em 0;
        padding-left: 0;
        margin: 0;
    }
    
    .container-footer:hover {
        background-color: hsl(212, 21%, 14%);
    }
}
